/* You can add global styles to this file, and also import other style files */
body {
  background: url('../src/assets/construction.jpg') no-repeat center center fixed;
  background-size: cover;

}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
